*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    background-color: #383638;
}
.container{
    max-width: 1152px;
    width: 100%;
    margin: 0 auto;
} 
.mohid{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}
.logo{
    padding-top: 5px;
} 
.itmlist{
    display: flex;
    justify-content: space-between;
    color: #fff;
    gap: 23px;
    margin: 0;
    padding: 0;
    padding-top: 8px;
}
.listitm{
    list-style-type: none;
}
.nav_link{
    text-decoration: none;
    color: #fff;
    gap: 23px;
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;    
    padding: 23px 0;
}
.search{
    padding-top: 5px;
}
@media only screen and (max-width: 960px){
    .itmlist{
    display: none;
    }
}
/* header qismi tugadi */


/* main qismi 1- qism */
.section{
    background-color: #383638;
}
.about_watches{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.most{
    margin: 100px 0;
    position: relative;
    
}
.most__h1{
    font-family: monospace;
    font-size: 64px;
    font-weight: 700;
    color: #fff;
}
.most__text{
    color: #fff;
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
    padding-top: 25px;
}

.most__form{
    position: relative;
    margin-top: 35px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    width: 410px;
}
.most__form input{
    border-radius: 15px;    
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 1rem;
    width: 100%;
}
.most__form i{
    position: absolute;
    /* top: 40px; */
    left: 10px;
    color: #3858D6;
}
.input{
    left: 10px;
}
.submit{
    position: absolute;
    bottom: 10px;
    left: 300px;
    padding: 10px 6px 12px 6px;
    font-size: 18px;
    font-weight: 600;
    background: #3858D6;
    color: #fff;
    border-radius: 9px;
    border: none;
    cursor: pointer;    
}
.submit:hover {
    background: #0056b3;
}
.hour__img{
    width: 460px;
}
@media only screen and (max-width: 960px){
    .about_watches{
        justify-content: center;
    }
    .hour__img{
        width: 420px;
    }
}
@media screen and(max-width: 565px) {
    .most__text{
        width: 390px;
    }
    .most__h1{
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .most{
        gap: 15px;
    }

    .most__form input{
       width: 390px;
    }
    .submit{
        width: auto; 
        flex-grow: 1;
    }
}


/* 333333333333333333333333333 */
.smart{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 70px;
}
.smart__apple{
    display: flex;
    justify-content: space-between;
    padding: 35px;
    background: #F6F6F6;
    border-radius: 22px;
    width: 354px;
}
.smart__apple-h2{
    font-family: monospace;
    font-size: 36px;
    font-weight: 700;
}
.smart__apple-text{
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
    color: #8B8E99;
    padding-top: 9px;
}
.smart__apple__one{
    padding-left: 25px;
}
.smart__xiaomi{
    display: flex;
    justify-content: space-between;
    padding: 35px;
    background: #F6F6F6;
    border-radius: 22px;
    width: 354px;
}
.smart__xiaomi-h2{
    font-family: monospace;
    font-size: 36px;
    font-weight: 700;
}
.smart__xiaomi-text{
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
    color: #8B8E99;
    padding-top: 9px;
}
.smart__fitbit{
    display: flex;
    justify-content: space-between;
    padding: 35px;
    background: #F6F6F6;
    border-radius: 22px;
    width: 354px;
}
.smart__fitbit-h2{
    font-family: monospace;
    font-size: 36px;
    font-weight: 700;
}
.smart__fitbit-text{
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
    color: #8B8E99;
    padding-top: 9px;
}
@media screen and (max-width: 900px) {
    .smart{
        justify-content: center;
    }
}

/* 444444444444444444444444444444 */
.products{
    text-align: center;
}
.products__h3{
    color:#3858D6;
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
    padding-top: 100px;
}
.products__h2{
    font-family: monospace;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 65px;
}
.product__smart{
    position: relative;
}
.product__sticker{
    position: relative;
}
.product__sticker-apple{
    position: absolute;
    top: 25px;
    left: 290px;
}
.product__sticker-img{
    position: absolute;   
    top: 85px;
    left: 290px;
}

.product__smart-our{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.products__one{
    text-align: center;
    /* border: 1px solid; */
    width: 335px;
}

.product__smart-img{
    background: #F6F6F6;
    padding: 29px 43px 27px 41px;  
    width: 335px;
    /* border: 1px solid; */
}
.product__smart-h2{
    padding: 10px 0;
    font-family: monospace;
    font-size: 24px;
    font-weight: 600;
}
.product__smart-text{
    padding: 10px 0 0 105px;
    font-family: monospace;
    font-size: 24px;
    font-weight: 600;
}
.product__smart-p{
    padding-top: 10px;
    font-family: monospace;
    font-size: 24px;
    font-weight: 600;
}
.product__images{
    position: relative;
    right: 6px;
    bottom: 27px;
}
.product__img{
    position: relative;
    right: 95px;
    bottom: 20px;
}
.product__smart-btn{
    text-align: center;
    padding: 30px 0 60px 0;
}
.btn{
    background: #3858D6;
    font-family: monospace;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;
    width: 196px;
    height: 46px;
    color: #fff;
    border: 1px solid #3858D6;
    cursor: pointer;
}
@media screen and (max-width: 1055px) {
    .product__smart-our{
        justify-content: center;
        gap: 25px;
    }
}
/* 555555555555555555555555555 */
.people__about{
    text-align: center;
}
.people__about-text{
    color:#3858D6;
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
    padding-top: 20px;
}
.people__about-h2{
    font-family: monospace;
    font-size: 36px;
    font-weight: 700;
    padding: 5px 0 55px 0;
}
.about{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0 auto;
}
.about__hamza{
    display: flex;
    border: 1px solid #F6F6F6;
    gap: 33px;
    width: 524px;
    padding: 30px;
    background: #F6F6F6;
    border-radius: 15px;
}

.about__hafiz{
    display: flex;
    border: 1px solid #F6F6F6;
    width: 524px;
    gap: 33px;
    padding: 25px;
    border-radius: 22px;
    background: #F6F6F6;
}

.about__hamza-h2{
    font-family: monospace;
    font-size: 24px;
    font-weight: 700;
    padding-top: 30px;
}
.about__hamza-text{
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
    color: #8B8E99;
    padding: 10px 0;
    line-height: 19.36px;
}
.about__huzaifa-h2{
    font-family: monospace;
    font-size: 24px;
    font-weight: 700;
    padding-top: 30px;
}
.about__huzaifa-text{
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
    color: #8B8E99;
    padding: 10px 0;
    line-height: 19.36px;
}
.people__images{
    text-align: center;
    padding: 50px 0 100px 0;
}
@media screen and (max-width: 1090px) {
    .about{
        justify-content: center;
    }
}

/* 666666666666666666666666666 */
.smart__wachet{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: #F6F6F6;
    border-radius: 22px;
}
.smart__wachet-one{
    margin: 100px 0;   
}
.smart__wachet-h2{
    font-family: monospace;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 12px;
}
.smart__wachet-text{
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
    color: #8B8E99;
}
.smart__form{
    position: relative;
    margin-top: 35px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
}
.input{
    border-radius: 12px;
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
    color: #8B8E99B2;   
    padding: 20px 20px 20px 30px;
}
.smart__form input{
    border-radius: 15px;    
    border: none;
    outline: none;
    font-size: 16px;
}
.smart__submit{
    position: absolute;
    bottom: 10px;
    left: 280px;
    padding: 10px 6px 12px 6px;
    font-size: 18px;
    font-weight: 600;
    background: #3858D6;
    color: #fff;
    border-radius: 9px;
    border: none;
    cursor: pointer;    
}
.submit:hover {
    background: #0056b3;
}

.smart__wachet-two{
    padding: 40px 0;
 }
 
@media screen and (max-width: 1165px) {
    .smart__wachet{
        align-items: center;
        justify-content: center;
    }
    .smart__wachet-text{
        width: 420px;
        font-size: 14px;
    }
}
@media screen and (min-width: 768px) {
.smart__form{
        width: 390px;
    }

    .input{
        width: 390px;
    }
}
@media screen and (max-width: 450px) {
    .smart__wachet-one{
        width: 390px;
    }
}


/* 77777777777777777777777 */

.footer{
    background: #0B0B0B;
    margin-top: 90px;
}
.finally{
    color: #fff;
    text-align: center;
    padding: 23px 0;
}
.finally__h2{
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
}